:root {
  --basic-white: #ffffff;
  --basic-transparent-white30: rgba(255, 255, 255, 0.3);
  --basic-transparent-white90: rgba(255, 255, 255, 0.9);
  --basic-black: #000000;
  --basic-lighter-black: rgba(0, 0, 0, 0.3);
  --basic-red: #FF0000;
  --basic-light-brown: #766357;
  --basic-brown: #604E43;
  --basic-dark-brown: #503E33;
  --basic-light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --basic-dark-blue: #5496BD;
  --basic-darknest-blue: #283b42;
  --basic-gray-up: #CACACA;
  --basic-gray-lighter: #ABABAB;
  --basic-light-gray: #f2f2f2;
  --basic-extra-gray: #A9A9A9;
  --basic-neutral: #eeeeee;
  --basic-gray: #888888;
  --basic-lightest-gray: #EBEBEB;
  --basic-neutral-gray: #666666;
  --basic-border-gray: #E5E5E5;
  --basic-darkest-gray: #231F20;
  --basic-dark-gray: #333333;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark-gray);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-nav {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation {
  list-style: none;
}

.site-navigation li:last-of-type .active {
  color: var(--basic-light-brown);
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-lighter-black);
}

/* .site-navigation:nth-last-child(1) li {
  color: var(--basic-black);
}
*/
.find {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter {
  color: var(--basic-white);
  background-color: var(--basic-darknest-blue);
  background-image: url("../img/hotel-bg-search.jpg");
  background-repeat: no-repeat;
}

.show {
  width: 137px;
  height: 36px;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  background: transparent;
  background-color: transparent;
}

.show:hover,
.show:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.arrow-up {
  color: var(--basic-gray-up);
}

.arrow-down {
  color: var(--basic-light-blue);
}

.arrow-up:hover,
.arrow-down:hover,
.arrow-up:focus,
.arrow-down:focus {
  color: var(--basic-black);
}

.arrow-up:active,
.arrow-down:active {
  color: var(--basic-light-blue);
}

.by-price {
  color: var(--basic-light-blue);
}

.type,
.by-rating {
  color: var(--basic-lighter-black);
  border-bottom: 1px dashed var(--basic-light-blue);
}

.type:hover,
.by-rating:hover,
.type:focus,
.by-rating:focus {
  color: var(--basic-light-blue);
}

.type:active,
.by-rating:active {
  color: var(--basic-black);
  border: none;
}

.hotels {
  list-style: none;
}

.hotels-item h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.hotels-item h2:hover,
.hotels-item h2:focus {
  color: var(--basic-blue);
}

.hotels-item h2:active {
  color: var(--basic-lighter-black);
}

.causes-list,
.causes-list .food {
  list-style: none;
}

.causes-list {
  text-align: center;
}

.cause-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.details {
  width: 110px;
  height: 27px;
  padding: 3px 16px 3px 17px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.details:hover,
.details:focus {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.details:active {
  color: var(--basic-transparent-white30);
  background-color: var(--basic-dark-blue);
}

.reserve {
  width: 142px;
  height: 27px;
  padding: 3px 17px 3px 16px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
}

.reserve:hover,
.reserve:focus {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.reserve:active {
  color: var(--basic-transparent-white30);
  background-color: var(--basic-dark-brown);
}

.button {
  font: inherit;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.button-search-hotels {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
}

.button-search-hotels:hover,
.button-search-hotels:focus {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.button-search-hotels:active {
  color: var(--basic-transparent-white30);
  background-color: var(--basic-dark-brown);
}

.form-search {
  font-weight: bold;
}

.date-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-light-gray);
  border: none;
}

.date-item:hover {
  color: var(--basic-black);
  background-color: var(--basic-lightest-gray);
  border: none;
}

.date-item:focus {
  background-color: var(--basic-white);
  outline: none;
  border: 2px solid var(--basic-border-gray);
}

.calendar {
  color: var(--basic-extra-gray);
  background-color: var(--basic-light-gray);
  outline: none;
  border: none;
}

.calendar:hover,
.calendar:focus {
  color: var(--basic-black);
}

.calendar:active {
  color: var(--basic-light-blue);
}

.plus-minus {
  border: none;
  color: var(--basic-extra-gray);
  background-color: var(--basic-light-gray);
  outline: none;
}

.plus-minus:hover,
.plus-minus:focus {
  color: var(--basic-black);
  outline: none;
}

.plus-minus:active {
  color: var(--basic-light-blue);
  outline: none;
}

.button-search {
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.button-search:hover,
.button-search:focus {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.button-search:active {
  color: var(--basic-transparent-white30);
  background-color: var(--basic-dark-blue);
}

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-transparent-white90);
}

.contacts a {
  color: var(--basic-black);
}

.footer-social {
  text-align: center;
}

.footer-social {
  list-style: none;
}

.social-button {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: var(--basic-light-blue);
}

.social-badge-twitter {
  color: var(--basic-white);
  padding: 16.99px 14.01px 16px 15px;
}

.social-badge-facebook {
  color: var(--basic-white);
  padding: 13px 17px;
}

.social-badge-youtube {
  color: var(--basic-white);
  padding: 16px 13px;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-blue);
}

.social-button:active,
.social-badge-twitter:active,
.social-badge-facebook:active,
.social-badge-youtube:active {
  color: var(--basic-transparent-white30);
  background-color: var(--basic-dark-blue);
}

.footer-social a:hover,
.footer-social a:focus {
  color: var(--basic-blue);
}

.footer-social a:active {
  color: var(--basic-lighter-black);
}

.footer-copyright a {
  color: var(--basic-black);
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: var(--basic-blue);
}

.footer-copyright a:active {
  color: var(--basic-lighter-black);
}
